<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>content</title>
  </head>
  <body>
    <div
      class="absolute bg-white text-gray-500 shadow-global top-10 lg:top-12 right-0 rounded-md"
    >
      <span
        class="h-14 flex items-center font-semibold cursor-default gap-2 px-4"
      >
        <img src="./images/icons/plus-black.svg" />
        <p>Add Content</p>
      </span>
      <a
        class="flex gap-3 py-3 px-4 rounded-b-md hover:bg-powerblue-100 w-48 cursor-pointer"
      >
        <img class="w-6 h-6" src="./images/icons/video.svg" />
        <p>Video</p>
      </a>
      <a
        class="flex gap-3 py-3 px-4 rounded-b-md hover:bg-powerblue-100 w-48 cursor-pointer"
      >
        <img class="w-6 h-6" src="./images/icons/podcast.svg" />
        <p>Podcast</p>
      </a>
      <a
        class="flex gap-3 py-3 px-4 rounded-b-md hover:bg-powerblue-100 w-48 cursor-pointer"
      >
        <img class="w-6 h-6" src="./images/icons/article.svg" />
        <p>Article</p>
      </a>
      <a
        class="flex gap-3 py-3 px-4 rounded-b-md hover:bg-powerblue-100 w-48 cursor-pointer"
      >
        <img class="w-6 h-6" src="./images/icons/karya_tulis.svg" />
        <p>Karya Tulis</p>
      </a>
      <a
        class="flex gap-3 py-3 px-4 rounded-b-md hover:bg-powerblue-100 w-48 cursor-pointer"
      >
        <img class="w-6 h-6" src="./images/icons/case_study.svg" />
        <p>Case Study</p>
      </a>
      <a
        class="flex gap-3 py-3 px-4 rounded-b-md hover:bg-powerblue-100 w-48 cursor-pointer"
      >
        <img class="w-6 h-6" src="./images/icons/ebook.svg" />
        <p>Ebook</p>
      </a>
    </div>
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
