<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>content</title>
  </head>
  <body>
    <div
      class="absolute z-10 left-0 w-full top-10 lg:top-14 mt-3 lg:mt-2 bg-white overflow-y-scroll"
    >
      <div class="bg-white-primary rounded z-40 shadow-lg">
        <div
          class="grid grid-cols-1 md:grid md:grid-cols-5 text-black-primary py-6"
        >
          <!-- Menu -->
          <div class="md:px-12 px-4 pb-4">
            <div class="flex items-center px-6 border-falcon-500 pb-4 gap-3">
              <img src="./images/icons/hamburger-bar.svg" />
              <h3 class="text-base-2 font-bold text-[#1F2855]">Menu</h3>
            </div>

            <div class="grid grid-cols-2 lg:grid-cols-1 mt-3 gap-2 px-4">
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/youtube.svg"
                    alt=""
                  />
                  <div class="text-sm">Videos</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/podcast-color.svg"
                    alt=""
                  />
                  <div class="text-sm">Podcast</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img class="w-6 h-6" src="./images/icons/video.svg" alt="" />
                  <div class="text-sm">Webinar</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/article.svg"
                    alt=""
                  />
                  <div class="text-sm">Article</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img class="w-6 h-6" src="./images/icons/course.svg" alt="" />
                  <div class="text-sm">Course</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/karya_tulis.svg"
                    alt=""
                  />
                  <div class="text-sm">karya tulis</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/program.svg"
                    alt=""
                  />
                  <div class="text-sm">Program</div>
                </button>
              </div>

              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/journey.svg"
                    alt=""
                  />
                  <div class="text-sm">Case study</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/case_study.svg"
                    alt=""
                  />
                  <div class="text-sm">Case Study</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img class="w-6 h-6" src="./images/icons/ebook.svg" alt="" />
                  <div class="text-sm">Library</div>
                </button>
              </div>
              <div class="grid grid-cols-1">
                <button
                  type="button"
                  class="text-[#1F2855] hover:text-virindian-primary hover:bg-[#EEF8F9] rounded-md px-3 py-3 gap-4 flex items-center"
                >
                  <img
                    class="w-6 h-6"
                    src="./images/icons/question.svg"
                    alt=""
                  />
                  <div class="text-sm">Quiz</div>
                </button>
              </div>
            </div>
          </div>
          <!-- Categories -->
          <div class="md:px-12 px-4 pb-4 col-span-3 border-l">
            <div class="flex items-center px-6 border-falcon-500 pb-4 gap-3">
              <img src="./images/icons/hamburger-window.svg" />
              <h3 class="text-[#1F2855] text-base-2 font-bold">Categories</h3>
            </div>
            <div
              class="grid grid-cols-1 lg:grid-rows-10 lg:grid-flow-col px-4"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
