<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Clone</title>
  <style>
    #circular-progress {
      position: relative;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      background: conic-gradient(#0093AD 3.6deg, #ededed 0deg);
    }

    #circular-progress::before {
      content: "";
      position: absolute;
      height: 260px;
      width: 260px;
      border-radius: 50%;
      background-color: #fff;
    }
  </style>
</head>

<body>
  <div class="bg-[#F8F8F8] p-6 h-screen w-full flex gap-6 flex-col">
    <div class="bg-white shadow-[0px_4px_24px_rgba(0,0,0,0.06)] rounded-md z-50 flex-none">
      <div class="flex justify-between items-center mx-6 md:mx-24 py-3">
        <img src="images/mdl.png" class="w-[150px] md:w-auto" alt="logo" />
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-center gap-y-12 bg-white shadow-[0px_4px_24px_rgba(0,0,0,0.06)] rounded-md grow">
      <div class="flex flex-col items-center gap-y-2">
        <h1 class="text-[#1F2855] font-medium text-[28px]">Creating Clone...</h1>
        <h5 id="text-status" class="text-[#797F99] font-medium text-[15px]">The system is creating a clone, please wait...</h5>
      </div>
      <div id="circular-progress" class="flex justify-center items-center">
        <div id="progress-value" class="flex flex-col items-center justify-center relative text-[#0093AD] text-[28px] font-bold rounded-[1em]">
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script>

  $(function () {
    const circularProgress = $("#circular-progress");
    const progressValue = $("#progress-value");

    let progressStartValue = 0;
    let progressEndValue = 100;
    let speed = 50;

    const progress = setInterval(() => {
      progressStartValue++;

      progressValue.html(`
        <h2 class="text-[#0093AD] font-bold text-[77px]">${progressStartValue}%</h2>
        <span class="text-[#797F99] text-[18px]">progress</span>
      `)
      circularProgress.css('background', `conic-gradient(#0093AD ${progressStartValue * 3.6}deg, #ededed 0deg)`)

      if (progressStartValue == progressEndValue) {
        clearInterval(progress);
        progressValue.html(`<a href="login.html"><img src="images/icons/check.svg"><p class="text-center">FINISH</p></a>`)
        progressValue.addClass('cursor-pointer')
        $('#text-status').text('Clone has been created.')
        // window.location.href = "login.html";
      }
    }, speed);
  });

</script>

</html>